.button {
    height: 50px;
    border-radius: 9px;
    font-weight: 500;
    background: #5351e7;
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    cursor: pointer;
    border: 0;        

    transition: filter 0.25s;

    &:disabled {
        opacity: 0.75;
        cursor: not-allowed;
    }

    &:hover {
        filter: opacity(0.8);
    }

    img {
        margin-right: 8px;
    }

}